In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:15pt;}
div.output {font-size:15pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:15pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:15px;}
</style>
"""))

<font size="5" color="red">ch02 자료형과 연산자</font>
# 1절 변수
 - 파이썬은 변수 선언을 위한 과정이 없음. 할당과 동시에 타입이 지정되고 값이 할당됨.
 
## 1.1 변수 할당
 - 할당연산자(=) 를 이용해서 값을 할당하면 타입이 셋팅됨.
 - 파이썬에서의 모든 변수는 객체로 저장됨.

In [8]:
r = 5
area = 3.14 * r * r
print("계산된 넓이는 ", area)

계산된 넓이는  78.5

In [9]:
import numpy as np
area = np.pi * r * r
print("area =", area)

area = 78.53981633974483

In [10]:
area.is_integer() # area 가 integer 인지 여부를 반환

False

In [11]:
print('area의 주소 :', id(area))
print('area의 타입 :', type(area))

area의 주소 : 2397713987504
area의 타입 : <class 'float'>

In [12]:
area = 5.5
print('area의 주소 :', id(area))
print('area의 타입 :', type(area))

area의 주소 : 2397717011984
area의 타입 : <class 'float'>

In [13]:
area = 10
print('area의 주소 :', id(area))
print('area의 타입 :', type(area))

area의 주소 : 2397606904336
area의 타입 : <class 'int'>

In [14]:
area = "파이썬"
print('area의 주소 :', id(area))
print('area의 타입 :', type(area))

area의 주소 : 2397718580944
area의 타입 : <class 'str'>

## 1.2 변수이름 규칙
- 문자로 시작 (숫자시작 X)
- 문자, 숫자, _로 변수명 작성 가능
- 함수명은 변수이름으로 가능하나 피한다. 써야 한다면 int_, print_ 식으로 _를 이용
- 파이썬 예약어는 (for, ..) 변수이름 사용 불가
- 한글 변수는 꼭 필요시에만 이용

In [15]:
이름 = "홍길동"
print(이름)

홍길동

In [16]:
이름

'홍길동'

In [17]:
for = 5

SyntaxError: invalid syntax (3039934606.py, line 1)

In [18]:
member.name = "홍길동"
member_name = "홍길동"
memberName = "홍길동"

NameError: name 'member' is not defined

In [19]:
Print = 10 # 대문자로 시작한 변수, 함수명의 변수는 안됨
print(Print)

10

In [20]:
# 파이썬에서의 숫자 : 정수, 실수, 복소수
i = 3 +3j # 복소수
type(i)

complex

In [21]:
isinstance(i, complex) # i 변수(객체) 가 complex인지 여부

True

## 1.3 도움말

In [22]:
help() # help 빠져나올 시 q 입력

Welcome to Python 3.10's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the internet at https://docs.python.org/3.10/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help>

You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

In [23]:
# 도움말 기능 : shift + tap + tap 키
print()

In [24]:
del print        # print를 변수로 사용하











print함수와 중복이기 때문에 print문 오류가 발생.

NameError: name 'print' is not defined

In [25]:
def add(x, y=0):
    '''
    매개변수
    x= 10의 자리
    y=  1의 자리
    '''
    return x*10 + y

In [26]:
add(2, 1)

21

In [27]:
add(2)

20

In [28]:
a = add
a(2, 3)

23

## 1.4 다중 변수 할당

In [29]:
a = 10
b = 20

In [30]:
a, b = 10, 20
print(a, b)

10 20

In [31]:
# 다중 변수 할당시 순차적 할당이 아니라, 일괄 동시 할당
a, b = b, a+b
print(a, b)

20 30

# 2절. 화면입출력 (i/o)

In [32]:
# input() : 사용자로부터 값을 입력 받기 위한 함수. 문자열로 입력
first = input("첫번째 숫자는? ")
first

첫번째 숫자는? 5

'5'

In [33]:
second = input("두번째 숫자는? ")
second

두번째 숫자는? 2

'2'

In [34]:
sum = int(first) + int(second)
print('합', sum)

합 7

In [36]:
first = int(input('첫번째 수는?'))
second = int(input('두번째 수는?'))
sum = first + second
print('합', sum)

첫번째 수는?5
두번째 수는?2
합 7

In [48]:
print('합', sum, sep=' = ' , end=' / ')
print('합', sum, sep=' ~ ', end=' / ')
print('합', sum, sep='은 ')

합 = 7 / 합 ~ 7 / 합은 7

In [41]:
import sys
print('hello', 'world', sep=", " , file=sys.stdout)

hello, world

# 3절. 기본 자료형
- 자료형에 따라 값의 크기와 저장방식이 달리짐.
    - 숫자 : int, float, complex
    - 문자 : str
    - 논리 : bool(True/False)
    

## 3.1 숫자형

In [49]:
import sys
sys.maxsize # 정수의 최대값 2의 63승-1 (2**63 -1)

9223372036854775807

In [52]:
i = sys.maxsize + 1000
print(i)f
print(type(i))

9223372036854776807
<class 'int'>

In [53]:
f = 4/2 # 정수 / 정수는 무조건 실수
f

2.0

In [56]:
# 자바처럼 정수 / 정수의 결과를 정수를 원할 시
f = 4//2  # 몫연산자
print(f)
f = int(4/2)
print(f)

2
2

In [57]:
c = 1j # 수학시간의 0+1i
print(c**2) # **승연산자

(-1+0j)

In [59]:
f = 1.12e12 # 1.12의 10의 12승 : 1120000000000
print('지수형 표현할 당시 실수형으로 저장 :', f)
f = 1.12e-12 # 1.12의 10의 -12승 : 0.0000000000112
print('지수형 표현할 당시 실수형으로 저장 :', f) # 소수점이 너무 길어서 아래와 같이 나옴.

지수형 표현할 당시 실수형으로 저장 : 1120000000000.0
지수형 표현할 당시 실수형으로 저장 : 1.12e-12

# 3.2 문자형
쌍따옴표(" ") , 홀따옴표(' ') 둘다 사용 가능

In [70]:
name = "홍길동\"짱\"" # 홍길동"짱"
name = '홍길동"짱"'
address = '서울시 관악구 \"신설동\"' # 
address = '서울시 관악구 "신설동"'
print(name, address)

홍길동"짱" 서울시 관악구 "신설동"

In [68]:
# 문자형 변수 여러줄
text = '''여러줄 짜리 내용
줄바꿈 문자를 쓰지 않고 따옴표 3개로 처리
이처럼 쓰는 경우가 많음'''
print(text)

여러줄 짜리 내용
줄바꿈 문자를 쓰지 않고 따옴표 3개로 처리
이처럼 쓰는 경우가 많음

### * 문자열 연산

In [73]:
'''
    여러 줄 주석 용도
    2025.04.08 문자열 연산 소스 by 아무개
'''
name1 = "홍길동"
name2 = " 동해 번쩍 서해 번쩍"
print(name1 + name2)

홍길동 동해 번쩍 서해 번쩍

In [72]:
print(name1 * 3) # 문자열을 곱하면 반복

홍길동홍길동홍길동

## raw 데이터
    - 용도 : 정규표현식 이용, 디렉토리의 경로 표현시 이용 (ex: /n)

In [78]:
print(r'hello\nWorld') # 맨 앞에 r
print('hello\\nWorld') # 중간에 \\ 2개

hello\nWorld
hello\nWorld

정규표현식
```(마크업 셀에서 백틱은 블록을 만들 때 사용)
1. 참조 : 위키백과
2. 간략한 문법 :
    \d (숫자와 매치, [0-9]와 동일
    \D (숫자가 아닌 것)
    \w (영문이나 숫자, [a-zA-Z]
    \W (영문자나 숫자가 아닌 문자)
    .  (문자)
    \. (. 따옴표)
    \- (- 의미)
    {2, 4} (2~4번 반복)
    {4}    (4번 반복)
    {2, }  (2번이상 반복)
    +      (1번이상 반복)
    =      (0번이상 반복)
    ?      (없거나 1번 있거나)
    
3. 정규표현식
    ex1. 전화번호 : 010-9999-9999 02-712-8888                       **[0-9] = \d
                   01099997777 0277778888                        
                   02)741-5656 010 1234 1234 010.1234.1234      [0-9]{2,3}[\-) .]?[0-9]{3,4}[\- .]?[0-9]{4}
                    
    ex2. abc12@naver.com  abc123@to7.co.kr
         abc@한국.com                                            \w{3,}@[a-zA-Z0-9가-힣]+(\.[a-zA-z]+){1,2}

4. 소스 구현
```

In [17]:
import re
data = "홍길동인데 전화번호가 02-888-8888, @@@@\
010 9999 9999 동해번쩍 서해번쩍 ㅋㅋ ㅠㅠ \
오늘 날씨는 정말 좋아요"
print(data)

홍길동인데 전화번호가 02-888-8888, @@@@010 9999 9999 동해번쩍 서해번쩍 ㅋㅋ ㅠㅠ 오늘 날씨는 정말 좋아요

In [2]:
tel_pattern = r"[0-9]{2,3}[\-) .]?[0-9]{3,4}[\- .]?[0-9]{4}"

In [6]:
tels = re.findall(tel_pattern, data)  # 해당 패턴을 전부 찾아줌. 만약 패턴이 없으면 [] 반환.
tels   # 출력

['02-888-8888', '010 9999 9999']

In [11]:
# search() : 정규표현식 패턴과 일치하는 처음단어만 찾음.
pattern = "(\d{2,3})-(\d{3,4})-(\d{4})"  # " 다음 글자는 0번째 글자 / 마지막 글자는 마지막 문자 바로 앞
firstTel = re.search(pattern, data)
firstTel

In [13]:
data[12:23] #문자 슬라이싱

'02-888-8888'

In [16]:
print('전화번호 전체 :', firstTel.group(0))
print('국번 :', firstTel.group(1))
print('중간번호 :', firstTel.group(2))
print('끝번호 :', firstTel.group(3))

전화번호 전체 : 02-888-8888
국번 : 02
중간번호 : 888
끝번호 : 8888

In [19]:
re.sub(r'[^가-힣0-9\s]+', '', data)  # 특수문자, 자음, 모음 없앤 문자 출력 / \s = \space(공백, 띄어쓰기)

'홍길동인데 전화번호가 028888888 010 9999 9999 동해번쩍 서해번쩍   오늘 날씨는 정말 좋아요'

In [23]:
# 파일 경로에는 반드시 r, \\, / 사용 (디렉터리 경로 문자)
file_path = r"C:\ai_x\source\01_python\test.txt"
file_path = "C:\\ai_x\\source\\01_python\\test.txt"
file_path = "C:/ai_x/source/01_python/test.txt"

In [25]:
file_stream = open(file_path, 'w')
print('hello', "world", sep=" ~ ") # 콘솔 출력
print('hello', "world", sep=" ~ ", file=file_stream)  # 파일 출력
file_stream.close()

hello ~ world

### * 문자열 슬라이싱

In [27]:
str_='0123456789'
str_

'0123456789'

In [29]:
# 문자 인덱싱
str_[0], str_[2], str_[-1], str_[-3]

('0', '2', '9', '7')

In [31]:
str_[20]  # 없는 문자(순서) 인덱싱 error - 해당은 20번째 순서 문자 추출 없음

IndexError: string index out of range

In [ ]:
'''
* 0123456789
문자 변수[from:stop] : from부터 stop '앞' 까지 추출
문자 변수[from:stop:step] : from부터 stop 앞까지 step 씩 전진하면서 추출
    step 생략시 1자리씩 생략
    from 생략시 처음부터 의미
    stop 생략시 끝까지 의미
'''

In [35]:
str_[0:5] # stop 생략한 상태 / 0번째 ~ 5번째 앞까지

'01234'

In [38]:
str_[-5:-1] # -5번째부터 -1번째 앞까지

'5678'

In [40]:
str_[-4:] # 생략했으니 -4부터 끝까지

'6789'

In [41]:
str_[-4:20] # 슬라이싱시 인덱스 범위(여기선 20) 벗어나면 끝까지를 의미

'6789'

In [33]:
str_[0:8:2] # 0번째 ~ 8번째 앞까지

'0246'

In [42]:
str_[9:0:-1]

'987654321'

In [58]:
# 0123456789
# 첫 문자 ~ 6번째 인덱스까지 추출
print(str_[0:6])

# 5번째 인덱스부터 ~ 끝까지 추출
print(str_[5:])

# str_를 거꾸로 추출
print(str_[::-1])

012345
56789
9876543210

## 3.3 논리형 (True/False)

In [72]:
a = True
print(a) # a : 매개변수=인자
print(type(a)) # a 변수의 타입
print(isinstance(a, bool)) # isinstance(변수, 타입) : 변수가 해당 타입입지 여부
print('a 의 주소: ', id(a))
b = True
print('b 의 주소: ', id(b))  # 위에 a와 변수(True)가 같아 주소값이 같음
b = False
print('b 의 주소: ', id(b))  # 변수를 b에 새로(False) 할당하여 주소값이 변경됨.

True
<class 'bool'>
True
a 의 주소:  140725157251280
b 의 주소:  140725157251280
b 의 주소:  140725157251312

In [62]:
int(True) , int(False)

(1, 0)

In [ ]:
# False로 간주되는 것 : 0, ''(space 아닌 빈 스트링, 아무것도 없는거임). none , [], (), {}
# False 외에 값은 전부 True " "

In [67]:
i = 4
if i>5:
    print('i가 큼')
else:
    print('i가 부족')

i가 부족

In [69]:
if "":  # 다른 문자도 가능
    print('True')
else:
    print('False')

False

## 3.4 자료형 확인 및 형변환 함수
- type(변수)
- isinstance(변수, 타입)

- int() : 정수형으로 변환
- float() : 실수형으로 변환
- str() : 문자형으로 변환
- bool() : 논리형으로 변환  (true/false)

In [85]:
int('123'), int(123.9), int(True), int("10    ")  # 앞에 껀 문자, 뒤에껀 실수

(123, 123, 1, 10)

In [78]:
float("123.5") , float(123) , float(True) , float(False) , float("123")

(123.5, 123.0, 1.0, 0.0, 123.0)

In [81]:
# int 함수 error 발생 문자
# int("123.5")
# int(' ')
# int('')
# int(1,000)

In [83]:
# float함수 error 발생 문자
# float("1,000.0")
# float("")
# float(" ")

ValueError: could not convert string to float: '1,000.0'

In [88]:
str(10), str(10.5), str(True), str(1.12e12)

('10', '10.5', 'True', '1120000000000.0')

In [90]:
bool(""), bool(0), bool(0.0), bool([]), bool({}), bool(None)

(False, False, False, False, False, False)

In [91]:
bool(" ")

True

파이썬 기본 자료형 (정리)
1. 숫자 - int, float, complex
2. 문자 - str, 문자슬라이싱, raw데이터(정규표현식, 파일경로)
3. 논리 - False로 판별되는 경우

# 4절. 포맷팅
- 포맷팅이란: 출력할 문자, 숫자, 날짜 데이터의 형식을 지정하는 것
- 변수와 텍스트를 결합해서 보기 좋은 형식의 새로운 텍스트를 만들 수 있음.

## 4.1 문자열의 출력형식 지정

In [96]:
name = "홍길동"
age = 30
print(name, '님의 나이는 ', age, '살입니다', sep='')

홍길동님의 나이는 30살입니다

In [107]:
print("%s님의 나이는 %3d살입니다" %(name , age)) # %s : 문자, %d: 정수 , %f : 실수
print(f"{name}님의 나이는 {age}살입니다.")
print("{}님의 나이는 {:3d}살입니다.". format(name, age))

홍길동님의 나이는  30살입니다
홍길동님의 나이는 30살입니다.
홍길동님의 나이는  30살입니다.

## 4.2 format() 문법

In [116]:
    #"{[인덱스]:[공백대체문자][정렬방식][자릿수][타입]}".format(변수1, 변수2)
    # 인덱스 : format 함수 안의 매개변수의 순서
    # 정렬방식 : <(왼쪽정렬) , >(오른쪽정렬), ^(중앙정렬)
    # 정수 자릿수 : 출력될 자릿수d. 변수 내용보다 작은 자릿수가 지정되면 자릿수 무시
    # 실수 자릿수 : 출력될 자릿수. 소수점이하자릿수f
    # 문자 자릿수 : 전체 확보될 자릿수 [변수 중 출력할 자릿수]s
    # 타입 : d(10진수 정수), b(2진수), x(16진수), o(8진수), f(실수), s(문자)
    # 공백대체문자를 쓸 경우 정렬방식을 반드시 기재.

In [132]:
name = input('이름은?')
age  = int(input('나이는?'))
print("{}살 {}님 반갑습니다".format(age, name))
print("{1:*^4d}살 {0:_<10}반갑습니다".format(name, age))

이름은?홍길동
나이는?30
30살 홍길동님 반갑습니다
*30*살 홍길동_______반갑습니다

In [119]:
# 숫자의 경우 : 오른쪽정렬(기본값)
# 문자의 경우 : 왼쪽정렬(기본값)
# 변수보다 작은 자리수를 지정하면 자릿수가 무시되고 다 출력(정수 자리수일 경우)
i = 12345
s = "hello"
print("[{0}], [{0:10}], [{0:3}]".format(i))
print("[{0}], [{0:10}], [{0:3}]".format(s))

[12345], [     12345], [12345]
[hello], [hello     ], [hello]

In [127]:
# 정수 : 전체자리수. 표현될자리수
# 실수 : 전체자리수. 소수점이하 표현될 자리수
f = 2.758
s = "hello"
print("f=[{:$>5.2f}]". format(f))
print("s=[{:_<5.2}]". format(s))

f=[$2.76]
s=[he___]

In [138]:
#  + : 부호를 출력
#  = : 부호를 맨 앞에 출력
a, b = 123, -123
print("[{:5}], [{:5}]". format(a,b))
print("[{:+5}], [{:+5}]". format(a,b))
print("[{:=+5}], [{:=+5}]". format(a,b))

[  123], [ -123]
[ +123], [ -123]
[+ 123], [- 123]

In [140]:
#
f = 2.785
print("[{:+10.3}]". format(f))

[     +2.79]

In [ ]:
sign = '+'
width = 10
precision = 2
print("[{:+10.3}]". format(f))

## 4.3 날짜출력

In [142]:
import re
from datetime import datetime
now = datetime.now()
now

datetime.datetime(2025, 4, 9, 17, 45, 1, 364282)

In [154]:
print("{}". format(now))
print("{:%Y년%m월%d일 %p %I시 %M분 %S초}". format(now))
print("{:%Y년%m월%d일 %H시 %M분 %S초}". format(now))

2025-04-09 17:45:01.364282
2025년04월09일 PM 05시 45분 01초
2025년04월09일 17시 45분 01초

In [152]:
now.strftime("%Y년%m월%d일 %H시 %M분 %S초")

'2025년04월09일 17시 45분 01초'