In [79]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:15pt;}
div.output {font-size:15pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:15pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:15px;}
</style>
"""))

<font size="5" color="red">ch02 자료형과 연산자</font>
# 1절 변수
 - 파이썬은 변수 선언을 위한 과정이 없음. 할당과 동시에 타입이 지정되고 값이 할당됨.
 
## 1.1 변수 할당
 - 할당연산자(=) 를 이용해서 값을 할당하면 타입이 셋팅됨.
 - 파이썬에서의 모든 변수는 객체로 저장됨.

In [8]:
r = 5
area = 3.14 * r * r
print("계산된 넓이는 ", area)

계산된 넓이는  78.5

In [9]:
import numpy as np
area = np.pi * r * r
print("area =", area)

area = 78.53981633974483

In [10]:
area.is_integer() # area 가 integer 인지 여부를 반환

False

In [11]:
print('area의 주소 :', id(area))
print('area의 타입 :', type(area))

area의 주소 : 2397713987504
area의 타입 : <class 'float'>

In [12]:
area = 5.5
print('area의 주소 :', id(area))
print('area의 타입 :', type(area))

area의 주소 : 2397717011984
area의 타입 : <class 'float'>

In [13]:
area = 10
print('area의 주소 :', id(area))
print('area의 타입 :', type(area))

area의 주소 : 2397606904336
area의 타입 : <class 'int'>

In [14]:
area = "파이썬"
print('area의 주소 :', id(area))
print('area의 타입 :', type(area))

area의 주소 : 2397718580944
area의 타입 : <class 'str'>

## 1.2 변수이름 규칙
- 문자로 시작 (숫자시작 X)
- 문자, 숫자, _로 변수명 작성 가능
- 함수명은 변수이름으로 가능하나 피한다. 써야 한다면 int_, print_ 식으로 _를 이용
- 파이썬 예약어는 (for, ..) 변수이름 사용 불가
- 한글 변수는 꼭 필요시에만 이용

In [15]:
이름 = "홍길동"
print(이름)

홍길동

In [16]:
이름

'홍길동'

In [17]:
for = 5

SyntaxError: invalid syntax (3039934606.py, line 1)

In [18]:
member.name = "홍길동"
member_name = "홍길동"
memberName = "홍길동"

NameError: name 'member' is not defined

In [19]:
Print = 10 # 대문자로 시작한 변수, 함수명의 변수는 안됨
print(Print)

10

In [20]:
# 파이썬에서의 숫자 : 정수, 실수, 복소수
i = 3 +3j # 복소수
type(i)

complex

In [21]:
isinstance(i, complex) # i 변수(객체) 가 complex인지 여부

True

## 1.3 도움말

In [22]:
help() # help 빠져나올 시 q 입력

Welcome to Python 3.10's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the internet at https://docs.python.org/3.10/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help>

You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

In [23]:
# 도움말 기능 : shift + tap + tap 키
print()

In [24]:
del print        # print를 변수로 사용하











print함수와 중복이기 때문에 print문 오류가 발생.

NameError: name 'print' is not defined

In [25]:
def add(x, y=0):
    '''
    매개변수
    x= 10의 자리
    y=  1의 자리
    '''
    return x*10 + y

In [26]:
add(2, 1)

21

In [27]:
add(2)

20

In [28]:
a = add
a(2, 3)

23

## 1.4 다중 변수 할당

In [29]:
a = 10
b = 20

In [30]:
a, b = 10, 20
print(a, b)

10 20

In [31]:
# 다중 변수 할당시 순차적 할당이 아니라, 일괄 동시 할당
a, b = b, a+b
print(a, b)

20 30

# 2절. 화면입출력 (i/o)

In [32]:
# input() : 사용자로부터 값을 입력 받기 위한 함수. 문자열로 입력
first = input("첫번째 숫자는? ")
first

첫번째 숫자는? 5

'5'

In [33]:
second = input("두번째 숫자는? ")
second

두번째 숫자는? 2

'2'

In [34]:
sum = int(first) + int(second)
print('합', sum)

합 7

In [36]:
first = int(input('첫번째 수는?'))
second = int(input('두번째 수는?'))
sum = first + second
print('합', sum)

첫번째 수는?5
두번째 수는?2
합 7

In [48]:
print('합', sum, sep=' = ' , end=' / ')
print('합', sum, sep=' ~ ', end=' / ')
print('합', sum, sep='은 ')

합 = 7 / 합 ~ 7 / 합은 7

In [41]:
import sys
print('hello', 'world', sep=", " , file=sys.stdout)

hello, world

# 3절. 기본 자료형
- 자료형에 따라 값의 크기와 저장방식이 달리짐.
    - 숫자 : int, float, complex
    - 문자 : str
    - 논리 : bool(True/False)
    

## 3.1 숫자형

In [49]:
import sys
sys.maxsize # 정수의 최대값 2의 63승-1 (2**63 -1)

9223372036854775807

In [52]:
i = sys.maxsize + 1000
print(i)f
print(type(i))

9223372036854776807
<class 'int'>

In [53]:
f = 4/2 # 정수 / 정수는 무조건 실수
f

2.0

In [56]:
# 자바처럼 정수 / 정수의 결과를 정수를 원할 시
f = 4//2  # 몫연산자
print(f)
f = int(4/2)
print(f)

2
2

In [57]:
c = 1j # 수학시간의 0+1i
print(c**2) # **승연산자

(-1+0j)

In [59]:
f = 1.12e12 # 1.12의 10의 12승 : 1120000000000
print('지수형 표현할 당시 실수형으로 저장 :', f)
f = 1.12e-12 # 1.12의 10의 -12승 : 0.0000000000112
print('지수형 표현할 당시 실수형으로 저장 :', f) # 소수점이 너무 길어서 아래와 같이 나옴.

지수형 표현할 당시 실수형으로 저장 : 1120000000000.0
지수형 표현할 당시 실수형으로 저장 : 1.12e-12

# 3.2 문자형
쌍따옴표(" ") , 홀따옴표(' ') 둘다 사용 가능

In [70]:
name = "홍길동\"짱\"" # 홍길동"짱"
name = '홍길동"짱"'
address = '서울시 관악구 \"신설동\"' # 
address = '서울시 관악구 "신설동"'
print(name, address)

홍길동"짱" 서울시 관악구 "신설동"

In [68]:
# 문자형 변수 여러줄
text = '''여러줄 짜리 내용
줄바꿈 문자를 쓰지 않고 따옴표 3개로 처리
이처럼 쓰는 경우가 많음'''
print(text)

여러줄 짜리 내용
줄바꿈 문자를 쓰지 않고 따옴표 3개로 처리
이처럼 쓰는 경우가 많음

### * 문자열 연산

In [73]:
'''
    여러 줄 주석 용도
    2025.04.08 문자열 연산 소스 by 아무개
'''
name1 = "홍길동"
name2 = " 동해 번쩍 서해 번쩍"
print(name1 + name2)

홍길동 동해 번쩍 서해 번쩍

In [72]:
print(name1 * 3) # 문자열을 곱하면 반복

홍길동홍길동홍길동

### * raw 데이터
    - 용도 : 정규표현식 이용, 디렉토리의 경로 표현시 이용 (ex: /n)

In [78]:
print(r'hello\nWorld') # 맨 앞에 r
print('hello\\nWorld') # 중간에 r 2개

hello\nWorld
hello\nWorld

정규표현식
```(마크업 셀에서 백틱은 블록을 만들 때 사용)
1. 참조 : 위키백과
2. 간략한 문법 :
    \d (숫자와 매치, [0-9]와 동일
    \D (숫자가 아닌 것)
    \w (영문이나 숫자, [a-zA-Z]
    \W (영문자나 숫자가 아닌 문자)
    .  (문자)
    \. (. 따옴표의 의미)
    \- (- 의미)
    {2, 4} (2~4번 반복)
    {4}    (4번 반복)
    {2, }  (2번이상 반복)
    +      (1번이상 반복)
    =      (0번이상 반복)
    ?      (0번이나 1번 반복)
    
3.